<p>Hia! Your lobby ID is: {{.ID}}</p>
<p>Red indicates an active clock</p>
<p>Clicking the active clock makes a POST request to /clock/press/:clockID</p>
<p>
  This will send out an event to all clients (soon scoped to lobby), having them
  refresh their lobby state
</p>

{{range .State.Clocks}}

<button
  id="{{.ID}}"
  value="{{.EndTime.UnixMilli}}"
  class="clock {{if eq .ID $.State.ActiveClockID}}active{{end}}"
  hx-post="/clock/press/{{.ID}}"
  hx-swap="none"
></button>

<br />
<br />
{{end}}

<!-- <button hx-get="/start" hx-push-url="true">Go Back</button> -->
<a href="/start">Go Back</a>
