<style>
  .active {
    color: red;
  }
</style>
<div
  id="sse-elem"
  sse-connect="/sse?view=head-to-head&lobbyID={{.ID}}"
  sse-swap="lobbyUpdate"
>
  {{embed}}
</div>
<script>
  function clockDisplay(currentMs) {
    const currentSeconds = currentMs / 1000;
    const min = Math.floor(currentSeconds / 60);
    const seconds = Math.floor(currentSeconds % 60);

    if (min === 0 && seconds < 10) {
      // Gets the first decimal place value
      const fractionalSeconds = Math.floor((currentMs - seconds * 1000) / 100);
      return `${min}:${seconds}.${fractionalSeconds}`;
    }

    return `${min}:${seconds}`;
  }

  function render(elem) {
    const endAt = parseInt(elem.value);
    elem.innerHTML = clockDisplay(endAt - Date.now());
  }

  function renderAllClocks() {
    [...htmx.findAll(".clock")].map(render);
  }

  function renderActiveClocks(evt) {
    [...htmx.findAll(".active")].map(render);
  }
  htmx.onLoad((evt) => {
    renderAllClocks();
    GlobalTimer.addEventListener("tick", renderActiveClocks);
  });
</script>
